<div class="container">
  <p>
    <label id="radio-group-label">Select people or starships</label>
  </p>

  <div *ngIf="dataType$ | async as dataType">
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [ngModel]="dataType"
      (ngModelChange)="changeDataType($event)"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let type of dataTypes"
        [value]="type"
      >
        {{ type }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <ng-container
    *ngIf="{
      inProgress: (inProgress$ | async) ?? false,
      players: players$ | async,
      lastWinnerId: lastWinnerId$ | async
    } as gameConfig"
  >
    <div class="button-group">
      <button
        mat-button
        color="accent"
        start-game-button
        (click)="startGame()"
        [disabled]="gameConfig.inProgress"
      >
        start
      </button>
      <button
        mat-button
        color="warn"
        clear-score-button
        (click)="clearScores()"
        [disabled]="gameConfig.inProgress"
      >
        clear score
      </button>
    </div>

    <div class="battle">
      <app-player
        [player]="player"
        [loading]="gameConfig.inProgress"
        [status]="
          getPlayerStatus(
            player,
            gameConfig.lastWinnerId,
            gameConfig.inProgress
          )
        "
        *ngFor="let player of gameConfig.players"
      ></app-player>
    </div>
  </ng-container>
</div>
