.container {
  width: 100%;
}

.battle {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 8px;

  @media screen and (width < 520px) {
    flex-direction: column;
    align-items: center;
  }
}

.button-group {
  padding: 0 12px;
  display: flex;
  gap: 12px;

  & > button {
    background-color: rgb(230, 230, 190);
  }
}
