.container {
    max-width: 1200px;
    margin: auto;

    h1 {
        text-align: center;
    }


    .battle {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.button-group {
    min-height: 40px;
}