<div class="container">
    <h1>Star wars battler</h1>

    <p>
        <label id="radio-group-label">Select people or starships</label>
    </p>
    <mat-radio-group aria-labelledby="radio-group-label" class="-radio-group" [(ngModel)]="dataType">
        <mat-radio-button class="radio-button" *ngFor="let type of dataTypes" [value]="type">
            {{type}}
        </mat-radio-button>
    </mat-radio-group>

    <div class="battle">
        <app-player number=1></app-player>
        <p>VS</p>
        <app-player number=2></app-player>
    </div>
</div>