:host {
  width: 45%;
  max-width: 400px;

  @media screen and (width < 520px) {
    width: 90%;
  }
}

.player {
  width: 100%;
  color: #000;
}

.indicator {
  color: #fff;
  text-align: center;

  &.win {
    color: green;
  }

  &.loose {
    color: red;
  }

  &.tie {
    color: grey;
  }
}

.content {
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
}
